/* font-family: 'Arimo', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Manrope', sans-serif; */

html {
    background: #F0F0F0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding-top: 47px;
}

.container {
    max-width: 1681px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_wrapper {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 27px;
}

.logo_text {
    width: 158px;
    color: #000;
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
}

.nav-link {
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    letter-spacing: 0.36px;
}

.contacts:hover {
    color: #E3EEF0;
    background: #3F6E5B;
    font-size: 18px;
    padding: 12px 44px;
    border-radius: 5px;
    transition: all .3s;
}

.green {
    color: #E3EEF0;
    background: #3F6E5B;
    padding: 12px 44px;
    border-radius: 5px;
}

.phone_wrapper  {
    display: flex;
    align-items: center;
}

.phone-number {
    margin-left: 5px;
    margin-right: 41px;
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 76.923% */
    letter-spacing: 0.52px;
}

.call-back_btn {
    width: 208px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #8BB91F;
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.call-back_btn:hover {
    background: #ade628;
    transition: .2s;
}

.second-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.catalog-btn {
    display: flex;
    align-items: center;
    width: 201px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #295644;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    border: none;
    cursor: pointer;
}

.catalog-btn:hover {
    background: #439474;
    transition: .2s;
}

.lines_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-right: 37px;
    margin-left: 22px;
}

.short {
    display: block;
    width: 17px;
    height: 2px;
    background-color: #FFF;
    border-radius: 50px;
    margin-bottom: 3px;
}

.long {
    display: block;
    width: 19px;
    height: 2px;
    background-color: #FFF;
    border-radius: 50px;
    margin-bottom: 3px;
}

.second-nav-link {
    color: #3F3F3F;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.delimiter {
    display: block;
    background-color: #3F3F3F;
    width: 1.5px;
    height: 24px;
}

/* HERO */

.dropdown {
    min-width: 9em;
    position: relative;
    margin-left: 37px;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #000;
    border-radius: 10px;
    background: #FFF;
    width: 313px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: background .3s;
}

.selected {
    display: flex;
    justify-content: space-between;
}

.select-clicked {
    border: 2px solid #000;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #f3f3f3;
}

.arrow {
    transition: .3s;
}

.arrow-rotate {
    transform: rotate(180deg);
}

.menu {
    padding: 15px;
    background: #FFF;
    border: 1px solid #000;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, .2);
    border-radius: 0.5em;
    color: #000;
    position: absolute;
    top: 4em;
    left: 44%;
    width: 313px;
    transform: translateX(-50%);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0;
    display: none;
    transition: .2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #f3f3f3;
}

.active {
    background: #f3f3f3;
}

.menu-open {
    display: block;
    opacity: 1;
}

.images-block {
    margin-right: 38px;
}

.main-img {
    width: 679px;
    height: 516px;
    border-radius: 31px;
}

.small-imgs {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 17px;
}

.prices_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small {
    width: 164.709px;
    height: 128px;
    border-radius: 30px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.border {
    margin-bottom: 47px;
}

.products-title {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 53px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 63.6px */
}

.info-text-title {
    display: block;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.info-text_wrapper {
    margin-bottom: 60px;
}

.info-text {
    display: block;
    max-width: 536px;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.order-block {
    width: 396px;
    height: 425px;
    flex-shrink: 0;
    border-radius: 66px;
    background: #FFF;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 312px;
    height: 49px;
    flex-shrink: 0;
    border: 1px solid #000;
    border-right: none;
    border-radius: 7px;
    margin-left: 37px;
}

.btns_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 46.733px;
    background: #8BB91F;
    border-radius: 3px;
}

.arrow-down {
    transform: rotate(180deg);
    text-align: center;
}

.counter-btn {
    display: block;
    background: transparent;
    border: none;
    text-align: center;
    padding: 4.3px;
    padding-left: 10px;
}

.counter-field {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 31px;
}

.order-block-title {
    display: block;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 48px;
    margin-left: 37px;
    margin-bottom: 20px;
}

.total-cost_wrapper {
    margin-left: 37px;
    width: 313px;
}

.information {
    display: block;
    color: #A6A0A0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 40px;
}

.cost {
    display: block;
    color: #3F6E5B;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 72px */
    margin-top: 10px;
    margin-bottom: 50px;
}


.order-btn {
    width: 309px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 7px;
    background: rgba(95, 144, 17, 0.38);
    color: #3F6E5B;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 37px;
    border: none;
    margin-top: 50px;
}

.description {
    margin-top: 72px;
}

.description-text {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 100px;
}

.price-block {
    width: 536px;
    height: 413px;
    flex-shrink: 0;
    border-radius: 20px;
}

.price-block-title {
    color: #000;
    margin-top: 20px;
    margin-left: 28px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.warn {
    display: block;
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: right;
    margin-right: 34px;
    margin-bottom: 15px;
}

.prices-block_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bag {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}

.retail {
    background: #F7F4E5;
}

.small-wholesale {
    background: #E3EEF0;
}
/* Footer */

.footer {
    margin-top: 94px;
    padding-bottom: 192px;
}

.footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-form-title {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 45px;
    margin-bottom: 30px;
    width: 350px;
}

.footer-form {
    margin-bottom: 49px;
}

.footer-phone {
    width: 267px;
    height: 49px;
    flex-shrink: 0;
    border: 1px solid #000;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: transparent;
    padding-left: 15px;
}

.footer-form-btn {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    background: transparent;
    margin-left: 20px;
    cursor: pointer;
}

.copyright_wrapper {
    display: flex;
    align-items: center;
}

.copyright {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.6;
}

.private-policy-link {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.6;
    margin-left: 50px;
}

.footer-title {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.6;
    margin-bottom: 20px;
}

.footer-catalog_wrapper {
    margin-left: 425px;
}

.footer-catalog-link {
    display: block;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 185px;
}

.footer-list-item {
    margin-bottom: 15px;
}

.footer-contacts_wrapper {
    margin-left: 203px;
}

/* Footer */

@media (max-width: 1400px) {
    .product-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .prices_wrapper {
        display: block;
        margin: 0 auto;
    }

    .images-block {
        margin-right: 0;
    }

    .price-block{
        margin: 0 auto;
    }
}

@media (max-width: 685px) {
    .main-img {
        width: 340px;
        height: 230px;
    }

    .small-imgs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .prices_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .price-block{
        width: 300px;
        height: 280px;
        margin-top: 30px;
    }

    .bag {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .order-block {
        width: 280px;
    }

    .order-block-title {
        margin-left: 0;
    }

    .select {
        width: 200px;
    }

    .counter {
        width: 200px;
    }

    .order-btn {
        margin-left: 0;
        width: 200px;
    }
}